/* UserNavbar.module.css */

.btnSignup {
  background-color: #D31A38;
  color: #fff;
  border: none;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(211, 26, 56, 0.3);
}

.btnSignup:hover {
  background-color: #b1162f;
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(211, 26, 56, 0.5);
}

.dropdownMenu .dropdownItem:active,
.dropdownMenu .dropdownItem:hover {
  background-color: #ef3a59;
  color: white;
}
